#experience {
    background-color: #D8973C;
}

#experienceContainer {
    padding: 20px;
}

#experienceTitle {
    color: white;
    font-weight: 100;
}

.experiences {
    display: flex;
    justify-content: center;
}

.field * {
    margin: 0;
}

.field {
    padding-top: 10px;
}

.skills {
    margin-top: 0.5em;
}